<footer class="site-footer">
  <div class="wrapper">

    <h2>Contact</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Bo Wu</li>
          <li><a href="mailto:bo.wu@ibm.com">bo.wu@ibm.com</a></li>
          <li>MIT-IBM Watson AI Lab</li>
        </ul>
      </div>
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Qiushi Huang</li>
          <li><a href="mailto:qiushi.huang@surrey.ac.uk">qiushi.huang@surrey.ac.uk</a></li>
          <li>University of Surrey</li>
        </ul>
      </div>
  </div>

</footer>
